<div class="page-header">
  <h1>Profile</h1>
</div>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @admin.name %></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><%= @admin.username %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @admin.email %></td>
  </tr>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_admin_path(@admin), :class=> "btn btn-default" %>