<div style="margin-top:50px">
  <%= link_to 'Manage Admins', admins_path , :class => "btn btn-default" %><br><br>
  <%= link_to 'Manage Employers', employers_path, :class => "btn btn-default"  %>
</div>