<li><%= link_to "My Profile", current_employer %></li>
<li><%= link_to "My Posted Jobs", employer_jobs_path(:id => current_employer.id) %></li>
<li><%= link_to "Sign Out", destroy_employer_session_path, :method => :delete %></li>