<li><%= link_to "My Profile", current_user %></li>
<li><%= link_to "My Job Applications", user_applications_path(:id => current_user.id) %></li>
<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>