<% if user_signed_in?%>
    <%= render 'user_home' %>
<% elsif admin_signed_in? %>
    <%= render 'admin_home' %>
<% elsif employer_signed_in? %>
    <%= render 'employer_home' %>
<% else %>
    <div style="margin-top:50px;">
      <% @jobs = Job.where("deadline >= ?", Time.zone.now) %>
      <%= render template: "jobs/index.html.erb" %>
    </div>    
<% end %>
