<div class="page-header">
  <h1>Profile</h1>
</div>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Company Name</td>
    <td><%= @employer.company_name %></td>
  </tr>
  <tr>
    <td>Contact Name</td>
    <td><%= @employer.contact_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @employer.email %></td>
  </tr>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_employer_path(@employer), :class=> "btn btn-default" %>