<h1>Admin Menu</h1>

<table>
  <tbody>
      <tr><td><%= link_to 'Manage Admin Users', :controller => 'admins' %></td></tr>
      <!--<tr><td><%= link_to 'Manage Categories', :controller => 'admins' %></td></tr>-->
      <tr><td><%= link_to 'Manage Employers', :controller => 'employers' %></td></tr>
  </tbody>
</table>
